/* Import Fonts and Initialize */
@import url("https://fonts.googleapis.com/css2?family=REM&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@500&family=Open+Sans:wght@800&family=Roboto:wght@300;500;700;900&display=swap");

body {
  margin: 0;

  width: 100%;
  height: 100%;
  background-color: #cdd1d7;

  font-size: calc(1vw);
}

.MainHeader {
  display: flex;
  justify-content: space-between;
  background-color: #0c4489;
  font-family: "REM";
  
  width: 100%;
  font-size: calc(1vw);
  align-items: center;
}

.MainHeaderBackground {
  width: 100%;
  height: 100%;
  display: flex;
}

ol {
  margin-right: 10px;
  align-items: center;
  
}

ul {
  display: inline;
  color: whitesmoke;
  
  
}

a {
  transition-duration: 1.5s;
  text-decoration: none;
  color: whitesmoke;
}

.Logo {
  height: 60px;
  width: 60px;
  align-items: center;
  margin-top: 10px;
  
}

.Name {
  align-items: center;
  color: whitesmoke;
  font-family: "REM";
}

.LogoTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0.5%;
}

.group-image {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Our-Mission {
  display: flex;
  justify-content: center;
  background-color: #cdd1d7;
  font-family: "REM";
  color: #0c4489;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Our-Mission-Container {
  color: whitesmoke;
  font-size: 30px;
  background-color: #cdd1d7;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-family: "Rem ";
}

.our-mission-full {
  display: flex;
  justify-content: space-between;
  width: 80%;
  font-family: "Rem ";
}

.Our-Mission-Paragraph {
  width: 60%;
  font-family: "Rem";
  font-size: calc(1vw + 1vh);
  background-color: #0c4489;
  border-radius: 15px;
  border: black;
  border-style: solid;
  border-width:7.5px;
  display: flex;
  justify-content: center;
  
}

.Our-Mission-Holder {

  
  margin-top: 2%;
  width: 90%;
  margin-bottom: 3%;

}

.our-mission-pic {
  width: 35%;
  object-fit: contain;
  margin-left: 8%;
}

a:hover {
  transition-duration: 2s;
  background-color: #236bc2;
  border-radius: 10%;
}


.footer-holder {

width: 100%;
background-color: #0c4489;
display: flex;
margin-top: 10px;
height: 150px;
justify-content: center;

}

.Footer-Header {

margin-bottom: 0;

}

.footer {
font-family: 'Rem';
color: white;
justify-content: start;
width: 90%;
background-color:#0c4489;

}


.Social-Media {

background-color: #0c4489;
display: flex;
justify-content: start;

}

.image {

margin-right: 10px;
border-radius: 10px;
height: 60px;
width: 60px;
margin-top: 9.69px;


}