/* Import Fonts and Initialize */
@import url("https://fonts.googleapis.com/css2?family=REM&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@500&family=Open+Sans:wght@800&family=Roboto:wght@300;500;700;900&display=swap");

body {
  margin: 0;
  background-color: #cdd1d7;
  font-size: calc(1vw);
}

.MainHeader {
  display: flex;
  justify-content: space-between;
  background-color: #0c4489;
  font-family: "REM";
  
  width: 100%;
  font-size: calc(1vw);
  align-items: center;
}

.MainHeaderBackground {
  width: 100%;
  height: 100%;
  display: flex;
}

ol {
  margin-right: 10px;
  align-items: center;
}

ul {
  display: inline;
  color: whitesmoke;
}

a {
  transition-duration: 1.5s;
  text-decoration: none;
  color: whitesmoke;
}

.Logo {
  height: 60px;
  width: 60px;
  align-items: center;
  margin-top: 10px;
}

.Name {
  align-items: center;
  color: whitesmoke;
  font-family: "REM";
}

.LogoTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0.5%;
}

a:hover {
  transition-duration: 2s;
  background-color: #236bc2;
  border-radius: 10%;
}

.Robot-Header {
  display: flex;
  margin-top: 5%;
  font-size: 3rem;
  font-family: "Rem";
  color: #0c4489;
  justify-content: center;
  margin-bottom: 2%;
}

.Robot-Photo-Container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.Robot-Photo-Holder {
  display: flex;
  width: 90%;
  justify-content: center;
  justify-content: space-between;
}

.Robot-Photo {
  width: 30%;
  border: #050e18;
  border-width: 9px;
  border-style: solid;
  display: flex;
  margin-top: 1%;
  margin-bottom: 3%;
  border-radius: 10px;
  object-fit: contain;
}

.Main-Container {
  width: 100%;
  display: flex;

  justify-content: center;
}

.Main-Container-Holder {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-bottom: 2%;
}

.Robot-Para1-Container {
  display: flex;
  width: 45%;
}

.Robot-Para1-Holder {
  background-color: #0c4489;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: #050e18;
  border-width: 9px;
  border-style: solid;
}

.Robot-Para1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: rem;
  color: white;
  font-size: 1.5rem;
  width: 90%;
  height: 100%;
}

.Accomplishments-Container {
  display: flex;
  width: 45%;
  border: black;
  border-width: 9px;
  border-style: solid;
  border-radius: 10px;
  background-color: #0c4489;
}

.Accomplishment-Header {
  margin-top: 0;
}

.Season {
  margin-top: 0;
  margin-left: 3%;
  width: 95%;
  font-family: "Rem";
  color: white;
  padding: 0;
  font-size: 0.8rem;
}

.yap {
  font-size: 1.2rem;
}

.footer-holder {

  width: 100%;
  background-color: #0c4489;
  display: flex;
  margin-top: 10px;
  height: 150px;
  justify-content: center;
  
  }
  
  .Footer-Header {
  
  margin-bottom: 0;
  
  }
  
  .footer {
  font-family: 'Rem';
  color: white;
  justify-content: start;
  width: 90%;
  background-color:#0c4489;
  }
  
  
  .Social-Media {
  
  background-color: #0c4489;
  display: flex;
  justify-content: start;
  
  }
  
  .image {
  
  margin-right: 10px;
  border-radius: 10px;
  height: 60px;
  width: 60px;
  margin-top: 9.69px;
  
  
  }